h2 { font-size: 1.8em !important; }
h3 { font-size: 1.6em !important; }
h4 { font-size: 1.4em !important; }
h5 { font-size: 1.2em !important; }
h6 { font-size: 1.1em !important; }

h2,h3,h4,h5,h6{
    margin: 1em 0 !important;
}